@model ProjectTest.ViewModel.DrinkViewModel
@using ProjectTest.Data.Model

<div class="container-fluid">
    <h2>All Drink Show Heare</h2>
    <h2>@Model.CurentCategory </h2>

    @foreach (Drink item in Model.Drinks)
    {

       @Html.Partial("DrinkSummery", item)

    }




</div>
